mohan/tasmota-thingspeak.flow
[{"id":"462aefec.39ffa8","type":"tab","label":"sendthingspeak","disabled":false,"info":""},{"id":"242073b9.c9fe94","type":"inject","z":"462aefec.39ffa8","name":"","topic":"","payload":"35.6","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.5,"y":139,"wires":[["59d3006f.a996e"]]},{"id":"59d3006f.a996e","type":"change","z":"462aefec.39ffa8","name":"set_parameters","rules":[{"t":"set","p":"url","pt":"msg","to":"'https://api.thingspeak.com/update?api_key=7MDHTWMNNHJS05ZP&field1=' & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":319.5,"y":164.8000030517578,"wires":[["eaa25a49.8f8bb","d58e42dc.aa6328"]]},{"id":"eaa25a49.8f8bb","type":"debug","z":"462aefec.39ffa8","name":"","active":true,"console":"false","complete":"true","x":454.49998474121094,"y":275.8000030517578,"wires":[]},{"id":"d58e42dc.aa6328","type":"http request","z":"462aefec.39ffa8","name":"","method":"GET","ret":"txt","url":"","x":264.5,"y":301.5999755859375,"wires":[["947c52e4.6fe958"]]},{"id":"947c52e4.6fe958","type":"debug","z":"462aefec.39ffa8","name":"","active":true,"console":"false","complete":"false","x":433.49998474121094,"y":364.59999084472656,"wires":[]},{"id":"4cba3076.5cfc18","type":"inject","z":"462aefec.39ffa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":117.19999694824219,"y":70.80001068115234,"wires":[["89a06a7a.c1c01"]]},{"id":"89a06a7a.c1c01","type":"http request","z":"462aefec.39ffa8","name":"","method":"GET","ret":"txt","url":"http://10.10.10.139/cm?cmnd=Status%208","tls":"","x":317.1999969482422,"y":38.600006103515625,"wires":[["e6ca2c42.187c18"]]},{"id":"e6ca2c42.187c18","type":"json","z":"462aefec.39ffa8","name":"","pretty":false,"x":494.1999969482422,"y":26,"wires":[["4846e01e.f4706"]]},{"id":"f531000.c31a4","type":"debug","z":"462aefec.39ffa8","name":"","active":true,"console":"false","complete":"false","x":490.5,"y":104.99999237060547,"wires":[]},{"id":"4846e01e.f4706","type":"change","z":"462aefec.39ffa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.StatusSNS.ENERGY.Current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":292.49998474121094,"y":101.19999694824219,"wires":[["f531000.c31a4","59d3006f.a996e"]]}]