mohan/tasmota.flow
[{"id":"e4b8d63c.09b91","type":"tab","label":"tasmota","disabled":false,"info":""},{"id":"f626d095.3d806","type":"inject","z":"e4b8d63c.09b91","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85.5,"y":106,"wires":[["ee2a824b.d1818"]]},{"id":"ee2a824b.d1818","type":"http request","z":"e4b8d63c.09b91","name":"","method":"GET","ret":"txt","url":"http://10.10.10.139/cm?cmnd=Status%208","tls":"","x":295.5,"y":73.79999542236328,"wires":[["105f5d89.1226da"]]},{"id":"105f5d89.1226da","type":"json","z":"e4b8d63c.09b91","name":"","pretty":false,"x":472.5,"y":61.199989318847656,"wires":[["e93fdceb.467c9","52d8768f.d09b88"]]},{"id":"c985dbe4.cb4598","type":"debug","z":"e4b8d63c.09b91","name":"","active":true,"console":"false","complete":"payload.StatusSNS.ENERGY","x":619.5,"y":154.20001220703125,"wires":[]},{"id":"e7d29ba.4e7bce8","type":"inject","z":"e4b8d63c.09b91","name":"","topic":"","payload":"POWER OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.5,"y":243.99996948242188,"wires":[["4c95c352.50cf54"]]},{"id":"c9a5a5e5.acbd6","type":"debug","z":"e4b8d63c.09b91","name":"","active":true,"console":"false","complete":"false","x":535.4999847412109,"y":286.1999969482422,"wires":[]},{"id":"4c95c352.50cf54","type":"http request","z":"e4b8d63c.09b91","name":"","method":"GET","ret":"txt","url":"http://10.10.10.139/cm?cmnd=Power%200","tls":"","x":327.5,"y":335.5999755859375,"wires":[["c9a5a5e5.acbd6"]]},{"id":"38c203d2.c2e1bc","type":"inject","z":"e4b8d63c.09b91","name":"","topic":"","payload":"POWER ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.19999694824219,"y":377.3999938964844,"wires":[["605f35d4.6f16bc"]]},{"id":"83d2ebf6.1bac4","type":"debug","z":"e4b8d63c.09b91","name":"","active":true,"console":"false","complete":"false","x":525.1999816894531,"y":419.6000213623047,"wires":[]},{"id":"605f35d4.6f16bc","type":"http request","z":"e4b8d63c.09b91","name":"","method":"GET","ret":"txt","url":"http://10.10.10.139/cm?cmnd=Power%201","tls":"","x":317.1999969482422,"y":469,"wires":[["83d2ebf6.1bac4"]]},{"id":"47d3a781.94ade8","type":"inject","z":"e4b8d63c.09b91","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.5,"y":525,"wires":[["605f35d4.6f16bc","e46581ed.7d0528"]]},{"id":"e46581ed.7d0528","type":"delay","z":"e4b8d63c.09b91","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":417.49998474121094,"y":524.8000030517578,"wires":[["4c95c352.50cf54"]]},{"id":"55e22c0d.a40134","type":"ui_gauge","z":"e4b8d63c.09b91","name":"","group":"f5c94938.a2619","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530.4999847412109,"y":212,"wires":[]},{"id":"e93fdceb.467c9","type":"function","z":"e4b8d63c.09b91","name":"","func":"msg.payload = msg.payload.StatusSNS.ENERGY.Current;\nreturn msg;","outputs":1,"noerr":0,"x":382.49998474121094,"y":180.1999969482422,"wires":[["55e22c0d.a40134"]]},{"id":"52d8768f.d09b88","type":"debug","z":"e4b8d63c.09b91","name":"","active":true,"console":"false","complete":"false","x":715.5,"y":45,"wires":[]},{"id":"f5c94938.a2619","type":"ui_group","z":"","name":"Tasmota","tab":"5b31c1bb.25cd78","disp":true,"width":"6"},{"id":"5b31c1bb.25cd78","type":"ui_tab","z":"","name":"Tasmota","icon":"dashboard"}]